.container-login{
   background-color: rgb(231, 231, 235);
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 

}
@media (min-width: 768px) {
    .container-login{
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 4rem;
        align-items: unset;
    }
    
}
.container--login__column__signUp{
    background-color: #ff7300;
    box-shadow: 10px 5px 5px rgb(216, 212, 212);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
   

}
@media (min-width: 768px) {
    .container--login__column__signUp{
        width: 50%;
    }
}

.container--login__column__signUp p{
    color: white;
    font-size: 1rem;
}
.container-login__column__form{
  box-shadow: 10px 5px 5px rgb(216, 213, 213);
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 90%;
}
@media (min-width: 768px) {
  .container-login__column__form{
      width: 50%;
  }  
    
}

.container-login__column__form input{
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
}
.container-login__column__form input:focus{
    outline: none;
}
.btn-login{
    border: none;
    outline: none;
    width: 100%;
}
.btn-login:hover{
    background-color: black !important;
}